
Documentation/mock_fasta_list.txt

Pipeline/*Results*/
Pipeline/work/
Pipeline/.nextflow/
Pipeline/.nextflow.log*
Pipeline/Test/*
Pipeline/InputFasta/*.fasta
Pipeline/AllSeqsCO20/*.xlsx
Pipeline/Rega/*.csv
Pipeline/Geno2Pheno/*.csv
snippets.*

inputs/iqtree1
inputs/iqtree2
inputs/iqtree3
inputs/Paper
.gitignore
Validation/HIV_FL_LANL*.fasta

