.DS_Store
COMET/
nf_core/
IQ-TREE/
AnnualReport/
HivTrace/

Documentation/mock_fasta_list.txt

Pipeline/*Results*/
Pipeline/work/
Pipeline/.nextflow/
Pipeline/.nextflow.log*
Pipeline/Test/*
Pipeline/InputFasta/*.fasta
Pipeline/AllSeqsCO20/*.xlsx
Pipeline/ManualRega/*.csv
Pipeline/ManualGeno2Pheno/*.csv
snippets.*
84/
92/ 
94/ 
95/
Pipeline/iqtree1
Validation/HIV_FL_LANL*.fasta

