
Documentation/mock_fasta_list.txt

rki_subtyping/*Results*/
rki_subtyping/work/
.nextflow/
.nextflow.log*
work/
inputs/InputFasta/*.fasta
inputs/AllSeqsCO20/*.xlsx
inputs/Rega/*.csv
inputs/Geno2Pheno/*.csv
snippets.*

inputs/iqtree1
inputs/iqtree2
inputs/iqtree3
inputs/Paper
.gitignore
Validation/HIV_FL_LANL*.fasta

