
profiles {
  
  rki_slurm {
    executor {
      name = "slurm"
      queueSize = 20
      // exitReadTimeout = '360 sec'
      // submitRateLimit = '1/2s'
      // pollInterval = '30 sec' 
    }
    process {
      cache = "lenient"
      cpus = "1"
         withLabel: "iqtree" {
          cpus = "2"
          time = "48h"
          memory = 18.GB
          // memory = {5.GB * task.attempt}
          // errorStrategy = {task.exitStatus in [137, 140] ? "retry" : "finish"}
          // maxRetries = 4
         }
    }
  }

  rki_priority {
    process {
      clusterOptions = '--partition=long'
    }
  }
}